

.slider-title {
  width: 500px;
  height: 120px;
  background-color: #131318;
  padding: 18px;
  margin: 5px;
  border-radius: 16px;
  position: absolute;
  right: 20px;
  bottom: 30px;
}

.slider-title h3 {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
}

.slider-title p {
  color: rgba(255, 255, 255, 0.6);
  font-family: Manrope;
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
}

.all {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.circle-box {
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  padding: 5px;
}

.progress-name h3 {
  color: #131318;
  text-align: center;
  font-family: Manrope;
  font-size: 20px;
  font-weight: 600;
}

.progress-name p {
  color: rgba(19, 19, 24, 0.6);
  text-align: center;
  font-family: Manrope;
  font-weight: 400;
  line-height: 26px;
}

.circle-wrap {
  display: grid;
  grid-template-columns: repeat(1, 160px);
  grid-gap: 80px;
  margin-top: 100px;
  margin-left: 70px;
  margin-bottom: 20px;
  width: 150px;
  height: 150px;
  background: #d9d7da;
  border-radius: 50%;
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill-1,
.circle-wrap .circle .fill-2,
.circle-wrap .circle .fill-3,
.circle-wrap .circle .fill-4 {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}
.circle-wrap .circle .mask {
  clip: rect(0px, 150px, 150px, 75px);
}

.circle-wrap .inside-circle {
  width: 124px;
  height: 124px;
  border-radius: 50%;
  background: #fff;
  line-height: 120px;
  text-align: center;
  margin-top: 13px;
  margin-left: 13px;
  color: black;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2em;
}

/* 1st circle */

.mask .fill-1 {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #ec0c0c;
}
.mask.full-1,
.circle .fill-1 {
  animation: fill-1 ease-in-out 3s;
  transform: rotate(143deg);
}
@keyframes fill-1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(143deg);
  }
}

/* 2nd circle */
.mask .fill-2 {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #49d293;
}
.mask.full-2,
.circle .fill-2 {
  animation: fill-2 ease-in-out 3s;
  transform: rotate(165deg);
}
@keyframes fill-2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(165deg);
  }
}

/* 3rd circle */

.mask .fill-3 {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #ffb546;
}
.mask.full-3,
.circle .fill-3 {
  animation: fill-3 ease-in-out 3s;
  transform: rotate(153deg);
}
@keyframes fill-3 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(153deg);
  }
}

/* 4th circle */

.mask .fill-4 {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #4c8df1;
}
.mask.full-4,
.circle .fill-4 {
  animation: fill-4 ease-in-out 3s;
  transform: rotate(133deg);
}
@keyframes fill-4 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(133deg);
  }
}

.img-box {
  width: 1170px;
  height: 338px;
}

.img-1 {
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("Images/2.png");
  background-size: cover;
}

.img-2 {
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("Images/3.png");
  background-size: cover;
}

.img-3 {
  width: 1170px;
  height: 450px;
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("Images/4.png");
  background-size: cover;
  background-position: center;
}

.product {
  border-radius: 16px;
  border: 1px solid rgba(19, 19, 24, 0.10);
  width: 573px;
  height: 218px;
  padding-left: 20px;
}

.product-star {
  margin-right: 8px;
}

.Delivery-Icon {
  margin-right: 4px;
}

/* FAQ Section here*/
.faq {
  width: 1170px;
  height: 534px;
  border-radius: 16px;
  border: 1px solid rgba(19, 19, 24, 0.10);
  padding: 30px;
}

.faq-container {
  width: 650px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.faq-item {
  margin-bottom: 16px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 16px;
  background-color: #d1d0cc;
  color: black;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  transition: background-color 0.5s ease;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out, padding 0.5s ease-out;
  padding: 0 16px;
  background-color: #ecf0f1;
  color: #333;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.faq-item.open {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.faq-item.open .faq-answer {
  max-height: 200px;
  padding: 16px;
}

.faq-question span {
  font-weight: bold;
}

.faq-question:hover {
  background-color: #E6AB45;
}

.faq-question span:last-child {
  transition: transform 0.5s ease-out;
}

.faq-item.open .faq-question span:last-child {
  transform: rotate(45deg);
}


@media screen and (max-width: 580px) {
  .all {
    display: inline-block;
    padding: 20px;
  }

  .img-box {
    max-width: 100%;
  }

  .img-3 {
    max-width: 100%;
  }

  .fas {
    display: none;
  }

  .slider-title {
    padding: 20px;
    position: relative;
    bottom: 0;
}
